

<div ng-repeat="movie in clone2.comics" ng-show="check()" class="cast">
  <div><img ng-src="{{movie.cover}}" class="coverClass"></div>
  <div><span class="field">Name: </span>{{' ' + movie.name}}</div>
  <div><span class="field">Year: </span>{{' ' + movie.year}}</div>
  <div><span class="field">Country: </span>{{' ' + movie.country}}</div>
  <div><span class="field">Description:</span>{{' ' + movie.description}}</div>
  <span class="field">Cast:</span>
  <span ng-repeat="hero in movie.cast">
  {{hero + ' '}}<button class="ion-information-circled" ng-click="getDCComicsHero(hero)"></button>{{' '}}
  </span>
</div>

<div ng-show="clickH">
  <h1>{{message}}</h1>
</div>
<div ng-repeat="movie in heroInfo track by $index" ng-show="clickH" class="heroDiv">
  <div><span class="field">Name: </span>{{' ' + movie.name}}</div>
  <div><span class="field">Year: </span>{{' ' + movie.year}}</div>
  <div><span class="field">Country: </span>{{' ' + movie.country}}</div>
  <div><span class="field">Description:</span>{{' ' + movie.description}}</div>
</div>

