<!--<a href="../index.html"><button class="button" ng-click="checkMain()">click to main</button></a>-->
<!--

https://habrahabr.ru/post/293938/
-->

<div ng-show="clickH">
  <h2>{{message}}</h2>
</div>
<div class="row descDiv1" ng-repeat="movie in heroInfo track by $index" ng-show="clickH" class="heroDiv">

  <div class="col">
    <div class="header three1">
      <h2>{{'"' + movie.name + '"'}}</h2>
      <p>{{movie.year}}, {{movie.country}}</p>
    </div>

    <div>

      <div class="leftDiv1"><img  ng-src="{{movie.cover}}"></div>
      <p class="description1">
        {{'"' + movie.description + '"'}}
      </p>

      <span ng-repeat="hero in movie.cast">
  {{hero + ' '}}
  </span>

    </div>
  </div>

</div>

<div class="row descDiv" ng-repeat="movie in clone1.movies" ng-show="check()" >
  <div class="col">
  <div class="header three">
    <h2>{{'"' + movie.name + '"'}}</h2>
    <p>{{movie.year}}, {{movie.country}}</p>
  </div>

  <div>

      <div class="leftDiv"><img  ng-src="{{movie.cover}}"></div>
    <h3 class="description">
      {{'"' + movie.description + '"'}}
    </h3>

    <span ng-repeat="hero in movie.cast">
  {{hero + ' '}}<button class="ion-information-circled" ng-click="getMarvelMovieHero(hero)"></button>{{' '}}
  </span>

  </div>
  </div>

</div>
