<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="starter">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic</h1>
      </ion-header-bar>
      <ion-content class="has-header" ng-controller="mainCrl">

          <p>Перейти к <a href="templates/first.html">первой</a> или <a href="#second">второй странице</a>.</p>
          <div ng-view></div>

        <div class="main">
        <div class="left">
          <img src="marvel.jpg" alt="" ng-click="getMarvelData()">
        </div>
        <div class="right">
          <img src="dc.jpg" alt="" ng-click="getDCData()">
        </div>
          <div ng-show="clickM">
            <span><button class="button" ng-click="showMarvelMovies()">Movies</button></span>
            <span><button class="button" ng-click="showMarvelCartoons()">Cartoons</button></span>
            <span><button class="button" ng-click="showMarvelComics()">Comics</button></span>
          </div>
          <div ng-show="clickD">
            <span><button class="button" ng-click="showDCMovies()">Movies</button></span>
            <span><button class="button" ng-click="showDCCartoons()">Cartoons</button></span>
            <span><button class="button" ng-click="showDCComics()">Comics</button></span>
          </div>

          <div ng-repeat="movie in clone1.movies" ng-show="click1">
            <div><span class="field">Name: </span>{{' ' + movie.name}}</div>
            <div><span class="field">Year: </span>{{' ' + movie.year}}</div>
            <div><span class="field">Country: </span>{{' ' + movie.country}}</div>
            <div><span class="field">Description:</span>{{' ' + movie.description}}</div>
            <span class="field">Cast:</span>
            <span ng-repeat="hero in movie.cast" ng-show="click1">

              {{hero + ' '}}<a href="templates/first.html"><button class="ion-information-circled" ng-click="getMarvelHero(hero)">

            </button></a>{{', '}}
            </span>

            <br><hr>
          </div>

          <div ng-repeat="movie in clone1.movies" ng-show="clickD">
            <div><span class="field">Name: </span>{{' ' + movie.name}}</div>
            <div><span class="field">Year: </span>{{' ' + movie.year}}</div>
            <div><span class="field">Country: </span>{{' ' + movie.country}}</div>
            <div><span class="field">Description:</span>{{' ' + movie.description}}</div>
            <span class="field">Cast:</span>
            <span ng-repeat="hero in movie.cast" ng-show="click1">
              {{hero + ' '}}<button class="ion-information-circled" ng-click="someFunction(hero)"></button>{{', '}}
            </span>
            <br><hr>
          </div>

        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
