.left, .right {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 200px;
}
.left {
  padding-right: 5px;
}
.left img {
  border-radius: 100%;
  max-width: 95%;
  position: relative;
  top: 3%;
}
.left :hover {
  max-width: 100%;
}
.right {
  padding-left: 5px;
}
.right :hover {
  max-width: 105%;
}
.main {
  position: relative;
  top: 5vw;
  left: 5%;
  width: 404px;
  height: 195px;
}
img {
  max-width: 100%;
}
.field {
  color: lawngreen;
}

.marvel {
  background-color: red;
}
.dc {
  background-color: blue;
  color: white;
}
.button {
  margin: 5% 5% 0 0;
}
h3 {
  color: white;
}
.coverClass {
  max-width: 280px;
  border: 3px solid red;
  border-radius: 5%;
}
.cast {
  width: 45%;
  padding: 5%;
}
