.left, .right {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3%;
}

img {
  max-width: 100%;
}

.vs {
  padding-top: 15%;
}

.left img {
  border-radius: 100%;
  position: relative;
}
/*.left :hover {
  //max-width: 100%;
}

.right :hover {
  //max-width: 105%;
}*/

.field {
  color: lawngreen;
}

.marvel {
  background-color: red;
}
.dc {
  background-color: blue;
  color: white;
}
.button {
  margin: 5% 5% 0 0;
}
h3 {
  color: white;
}
.coverClass {
  max-width: 280px;
  border: 3px solid red;
  border-radius: 5%;
}
.cast {
  width: 45%;
  padding: 5%;
}

.heroDiv {
  width: 45%;
  padding: 1% 0 3% 2%;
}
.col {
  text-align: center;
}

.leftDiv {
  float: left;
}

.description {
  color: grey;
  font-size: 100%;
}
.row {
  float: left;
}
