.left, .right {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 200px;
}
.left {
  padding-right: 5px;
}
.left img {
  border-radius: 100%;
  max-width: 95%;
  position: relative;
  top: 3%;
}
.left :hover {
  max-width: 100%;
}
.right {
  padding-left: 5px;
}
.right :hover {
  max-width: 105%;
}
.main {
  position: relative;
  top: 24vw;
  left: 27%;
  width: 404px;
  height: 195px;
}
img {
  max-width: 100%;
}
.field {
  color: lawngreen;
}
