.left, .right {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3%;
}

img {
  max-width: 100%;
}

.vs {
  padding-top: 15%;
}

.left img {
  border-radius: 100%;
  position: relative;
}
.field {
  color: lawngreen;
}

.marvel {
  background-color: red;
}
.dc {
  background-color: blue;
  color: white;
}
.button {
  margin: 5% 5% 0 0;
}
h3 {
  color: white;
}
.coverClass {
  max-width: 280px;
  border: 3px solid red;
  border-radius: 5%;
}
.cast {
  width: 45%;
  padding: 5%;
}

.heroDiv {
  width: 45%;
  padding: 1% 0 3% 2%;
}
.col {
  text-align: center;
}

.leftDiv img {
  height: 28vw;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  float: left;
  margin: 0 3%;
}

.leftDiv1 img {
  width: 140px;
  height: 180px;
  margin-left: 16%;;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.description {
  color: grey;
  font-size: 1vw;
  font-family: 'Righteous', cursive;
}

.description1 {
  padding-left: 3%;
  color: grey;
  font-size: 60%;
  font-family: 'Righteous', cursive;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
  width: 36%;
  height: 37vw;
}

.descDiv {
  background: #FCF2E5;
  border: 2px solid  #90806A;
  border-radius: 1vw;
  float: left;
  margin: 2% 1% 1% 1% !important;
  text-align: left;
  padding-left: 3vw;
}

.descDiv1 {
  width: 220px;
  height: 311px;
  background: #FCF2E5;
  border: 2px solid  #90806A;
  border-radius: 1vw;
  float: left;
  margin: 0 3% 6% 3% !important;
}

.header {
  height: 0.6vw;
  width: 111%;
  margin-bottom: 17%;
  font-family: 'Merriweather', serif;
  color: #FCF2E5;
  text-align: left;
  border-radius: 1vw;
  font-size: 1.6vw;
  padding-left: 1.3vw;
}
.header1 {
  height: 60px;
}

.header p {
  color: black;
  font-size: 0.9vw;
}

.three {
  background: #FCF2E5;
  text-align: center;
}
.three h2 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #FCF2E5;
  background: #90806A;
  border-radius: 1vw;
  font-size: 143%;
  font-weight: normal;
  padding: 5px 20px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.three1 h2 {
  font-family: 'Merriweather', serif;
  position: relative;
  border-radius: 1vw;
  width: 200px;
  font-size: 95%;
  font-weight: normal;
  padding: 5px 20px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.three h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2vw;
  left: 0;
  bottom: -1.3vw;
  background: #90806A;
}
.three h2:after {
  content: "";
  position: absolute;
  height: 0;
  width: 80%;
  border-top: 10px solid #90806A;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}

.descDiv span {
  font-family: 'Oswald', sans-serif;
  font-size: 1vw;
}

.descDiv1 span {
  font-size: 60%;
}

.descDiv p {
  font-family: 'Merriweather', serif;
  font-size: 1.5vw;
}

.has-header {
  top: 0;
}

ion-content {
  background: url(img/marvelVSdc.jpg);
  background-size: 100% 100%;
}

.message {
  font-family: 'Merriweather', serif;
  color: white;
  text-align: center;
  background: #90806A;
  width: 46%;
  margin: 0 auto 5% auto;
  border-radius: 1vw;
}

.btn {
  background: transparent;
  border: none;
}

.btn p {
  font-size: 1.1vw;
  padding: 0;
  margin: 0;
}

.mainHeader {
  background: black;
  opacity: 0.7;
}

.rightDiv {
  text-align: left;
  height: 1.4vw;
}

.header h2 {
  margin-bottom: 0;
  font-size: 170%;
}

.header1 h2 {
  text-align: center;
}
.header1 p {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .descDiv {
    height: 40vw;
  }
  .header h2 {
    font-size: 140%;
  }
}

/*header styles*/

* { box-sizing: border-box; }

nav { background: black; }
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out;
}
.topmenu {
  text-align: center;
  padding: 10px 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li:after {
  content: "";
  position: relative;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 16px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}
.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}
.topmenu > li > a {
  font-size: 240%;
  padding: 12px 26px;
  color: #767676;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}
.topmenu li a:hover { color: #c0a97a; }
.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #000;
  font-size: 200%;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: .4s ease-in-out;
}
.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 115%;
  color: #484848;
  font-family: 'Kurale', serif;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

@media screen and (min-width: 394px) and (max-width: 530px) {
  .topmenu > li > a {
    font-size: 180%;
  }
}

@media screen and (min-width: 320px) and (max-width: 393px) {
  .topmenu > li > a {
    font-size: 100% !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .row {
    width: 48%;
    height: 46vw;
  }
  .btn p {
    font-size: 2.2vw;
  }
  .rightDiv {
    height: 2.1vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .row {
    width: 70%;
    height: 100vw;
  }
  .leftDiv img {
    height: 60vw;
    width: 46vw;
    float: inherit;
    margin-bottom: -4vw;
  }
  .header h2 {
    font-size: 300%;
    text-align: center;
    padding-right: 10%;
  }
  .header p {
    font-size: 3vw;
    padding-right: 10%;
    text-align: center;
  }
  .rightDiv {
    display: inline-block;
  }
  .description {
    font-size: 2.5vw;
    margin-bottom: -1vw;
  }
  .submenu {
    font-size: 130%;
    color: white;
  }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  .btn p {
    margin: 0 -4vw;
  }
  .row {
    width: 70%;
    height: 110vw;
  }
}
